{% load static %}

<!DOCTYPE html>
	<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo App</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- font-awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">  
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/todo.css' %}">
  </head>
  <body>
    <center>
        <div class="container-fluid">
            <div class="jumbotron">
                <h1 style="font-family: Monoton;">MY TODO</h1>
            </div>
            {% block content %}
            {% endblock %} 
        </div>
    </center>
  </body>
</html>